//body//

body{
  background-color: black;
}

#page{
  margin: 0 auto;
  max-width: 1170px;
}

.image{
  background-image: url(https://s3.amazonaws.com/myfangate.com/aiidownload/background.jpg);
  background-repeat: no-repeat;
  background-position: center 0;
  width: 1024px;
  height: 768px;
  position: absolute;
  top: 0;
  left:50%;
  margin-left: -512px;
}

.error {
    outline:none;
    border-color: red;
    box-shadow:0 0 10px red;
}
