.ss-form{
  margin: 320px 0 20px 0;
  text-align: center;
  .form-control{
    max-width: 192px;
    margin: 0 auto;
  }
  #navigation-table{
    margin: 0 auto;
  }
}

.download{
  margin: 45px 0 45px 0;
}

.fa-cloud-download{
  vertical-align: middle;
  padding-right: 10px;
}

